
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eee
}

.line {
    display: block;
    margin-top: 10px;
}

#container {
    margin-top: 20px;
}

#created {
    display: block;
    clear: both;
    padding-top: 10px;
    text-align: right;
    color: darkgray
}
#created a {
    color: darkgray;
    padding-left: 5px;
}

#player {
    width: 70%;
    height: 70%;
    display:flex;
    float: left;
    position: relative;
    min-height: 300px;
    justify-content:center;
    background-color: #333;
}

#title {
    color: white;
    padding: 0 20px;
}
#video {
    background: black;
    width: 100%;
    
}
#progressBar {
    height: 5px;
    width: 70%;
    display: flex;
    background:white;
    border-radius: 30px;
    overflow: hidden;
}

#progressBar > #progress {
  height: 100%;
  width: 0%;;
  background: #00a8ff;;
}

#controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    max-height: 40px;
    line-height: 40px;
    bottom: 0px;
    color: white;
    opacity: 7;
    background: black;
    padding: 0 10px;
}

#playlist {
    width: 30%;
    height: 70%;
    float: right;
    min-height: 300px;
    background: black;
    border-left: 1px solid white;
    overflow:hidden;
}

#playlist table {
    display: block;
    padding: 0px;
    margin: 0px;
    border: none;
    overflow:scroll;
}

#playlist table tbody {
    display: block;
    width: 100%
}

#playlist table tr {
    display: block;
    padding: 10px;
    height: 60px;
    line-height: 40px;
    color: white;
    font-size: 14px;
}
tr.video {
    cursor: pointer
}
#playlist table td {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
td.video-seq {
    width: 10%;
    padding: 0 10px;
}
td.video-uploading .spinner {
    position: relative;
    top: 0px;
    width: 10%;
    
}
td.video-uploading .spinner div {
    width: 27px;
    height: 27px;
}
td.video-name {
    width: 50%;
    overflow: hidden;
    padding-left: 10px;
}

.playing::after{
    position: relative;
    top: 3px;
    content: '';
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
    width: 12px;
    height: 12px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: white;
 }

.btn {
    cursor: pointer;
    width: 20px;
    padding: 0 10px
}
.spinner {
    display: inline-block;
    position: absolute;
    top: 40%;
    width: 64px;
    height: 64px;
    z-index: 100000;;
}
.spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.spinner div:nth-child(1) {
    animation-delay: -0.45s;    
}
.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}